@font-face {
    font-family: 'Arcade-N';
    src: url('../font/Arcade-N.ttf.woff') format('woff'), url('../font/Arcade-N.ttf.svg#Arcade-N') format('svg'), url('../font/Arcade-N.ttf.eot'), url('../font/Arcade-N.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background: url(../img/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 60px;
    padding-top: 80px;
}
.hide {
    display: none;
}
body > .container {
    padding: 15px 0;
}
.container .text-muted {
    text-align: center;
    margin: 20px 0;
}
.jumbotron p {
    font-size: 16px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-brand {
    padding: 4px 10px 4px;
}
.navbar-brand>img {
    display: inline;
    margin-right: 10px;
}
.logo {
    height: 100%;
}
.logo-text {
    font-size: 15px;
    font-family: Arcade-N, sans-serif;
}
.pull-right {
    margin-left: 10px;
}
.header-text {
    font-family: Arcade-N, sans-serif;
    text-align: center;
}
.sign-in {
    margin-right: 15px;
}
.games {
    background: url(../img/games.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.movies {
    background: url(../img/movies.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.music {
    background: url(../img/giant-speakers.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.television {
    background: url(../img/future-tv.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.gif {
    height: 250px;
}
.icons {
    margin: 0 auto;
    max-width: 150px;
}
.main-start {
    margin: 40px auto;
}
.re-start {
    margin: 40px auto;
}
.btn-lg {
    margin: 10px auto;
}
.btn-md {
    margin: 20px auto;
    max-width: 90%;
    height: 60px;
}
.to-results {
    margin: 40px auto;
    max-width: 25%;
}
.table {
    margin-bottom: 0;
}
th, td {
    text-align: center;
}
.info {
    margin: 20px 0;
    text-align: center;
}
.answers {
    margin: 60px 0 20px 0;
}
.gif {
    margin: 30px auto;
}
.img-responsive {
    margin: 0 auto;
}
.answer-API {
    padding-top: 40px;
}
.h1-results {
    padding-top: 20px;
}
.movie-info {
    font-size: 18px;
}
@media screen and (max-width: 767px) {
    body > .container {
        padding: 0 15px 0;
    }
    .sign-in {
        margin-left: 15px;
        margin-right: 0;
    }
}
